.heading-primary {
  font-size: 7.2rem;
  color: #fff;
  animation: moveInLeft 1s ease-out;

  @include respond(laptop) {
    font-size: 6rem;
  }

  @include respond(phone) {
    font-size: 4.8rem;
  }
}

.heading-secondary {
  font-size: 4.8rem;
  animation: moveInRight 1s ease-out;

  @include respond(laptop) {
    font-size: 3.6rem;
  }

  @include respond(phone) {
    font-size: 3rem;
  }

  &__section {
    color: var(--dark-blue);
    font-size: 4.8rem;

    @include respond(laptop) {
      font-size: 4.2rem;
    }

    @include respond(phone) {
      font-size: 3rem;
    }
  }
}

.heading-tertiary {
  font-size: 3.6rem;

  @include respond(laptop) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.8rem;
  }

  &__card {
    color: var(--gold);
  }
}

.p-main__dark {
  color: var(--dark-blue);
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: var(--font-text);

  @include respond(tab-land) {
    font-size: 2rem;
  }

  &--link {
    &:link,
    &:visited {
      text-decoration: none;
      color: var(--dark-blue);
      font-weight: bold;
      border-bottom: 2px solid transparent;
      transition: all 0.2s;
    }

    &:hover {
      border-bottom: 2px solid var(--dark-blue);
    }
  }
}
